* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* This selector sets the body's background color. */
body {
    background-color: #d9dcd6;
}

/* This selector sets the color and text decoration of all anchor tags. */
a {
    color: #ffffff;
    text-decoration: none;
}

/* This selector sets the font size of all paragraph tags. */
p {
    font-size: 16px;
}

/* This selector establishes the class .header. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* This selector affects h1 elements in the .header class. */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* This selector affects the nav elements in the .header class. */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This selector affects ul elements within nav elements that are within the .header class. */
.header nav ul {
    list-style-type: none;
}

/* This selector affects li elements within ul elements, within nav elements, that are within the .header class. */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* This selector establishes the .seo class. */
.seo {
    color: #d9dcd6;
}

/* This selector establishes the .hero class. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This selector establishes the .float-left class. */
.float-left {
    float: left;
    margin-right: 25px;
}

/* This selector establishes the .float-right class. */
.float-right {
    float: right;
    margin-left: 25px;
}

/* This selector establishes the .content class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* This selector establishes the .main-selection class */
.main-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This selector affects img elements within the .main-section class. */
.main-section img {
    max-height: 200px;
}

/* This selector affects h2 elements within the .main-section class. */
.main-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This selector establishes the .benefits class. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* This selector establishes the .benfit-section class. */
.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This selector affects h3 elements within the .benefit-section class. */
.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This selector affects img elements within the .benefit-section class. */
.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This class establishes the .footer class. */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* This class affects h2 elements within the .footer class. */
.footer h2 {
    font-size: 20px;
}
